/** INDEX */

div#begin{
	width: 100%;
	align: center;
	vertical-align: middle;
	margin-top: 20%;
	/* border: 1px solid black; /**/
	text-align: center;
}

div#begin h1{
	text-shadow: 0 0 3em blue; /* Параметры тени */
	font-size: 96pt;
}

div#begin a{
	color: blue;
	font-size: 48pt;
}

/** GAME */

#wrapper {
	margin-right: 100px;
}

div#div-left{
	float: left;
	width: 20%;
  
	height: 100%;
	/* border: 1px solid black; */
}

table#t00{
	width: 100%;
	height: 100%;
	color: white; 
	background-color: blue; 
	text-align: center;
}
table#t00 td{
	border: 1px solid white;
}

div#div-right{
	float: right;
	width: 75%;
	vertical-align: middle;
	/* border: 1px solid black; */
}

#cleared {
  clear: both;
}

/** RIGHT PART */

div#top-element{
	text-indent: 20px; /* Отступ первой строки в пикселах */
}

div#bottom-element{
	text-align: center;
}


/** A */
a:link{
	color: white;
}

a:visited{
	/* color: blue; /**/
	 color: white;	/**/
}

a:hover{
	color: yellow;
}

img{
	text-align: center;
	height: 65%;
}